.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.idea/
.vscode/
*.iml
*.log
.DS_Store
windows/flutter/ephemeral/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
android/.gradle/
android/local.properties
